img.logo {
	position: absolute;
	left: 0;
}


.container:after {clear: both;}
.container {
	padding-right: 15px;
  	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


/* Footer */

footer {
	width: 100%;
	position: fixed;
	z-index: -1;
	bottom: 0;
	background-color: #817e7e;
	height: 200px;
	border-right: 15px solid #fff;
	border-left: 15px solid #fff;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	vertical-align: middle;


}

footer a, a:hover, a:active, a:focus {
	color: #ffffff;
	text-decoration: none;

}

.addressline {
	background: url(../img/map.png) no-repeat;
	background-position: 50% 0;
	background-size: 8px;
	padding: 12px;
	margin-top: -14px;
}

.addressline {
	text-align: center;
	
}
.addressline p {
	padding: 0;
}

.addressline p:first-child {
	font-size: 2em;

}

.addressline p:last-child {
	opacity: 0.9;
	font-size: 0.8em;
}


.copyright {
	color: #000000;
	text-align: center;

}

.error404 {
	text-align: center;
	color: #000;
}

.error404 h1 {
	font-size: 6em;
	font-family: bodoni72, Helvetica, Arial, sans-serif;

}

.error404 h2 {
	color: #000;
}



.dotted {
	border-left: 1px dotted #fff;
	border-right: 1px dotted #fff;
}




/*MediaQueries
##################*/
@media only screen and (max-width: 520px) {

	nav ul {
		float: none;
		margin-left: 40px;

	}

	nav li {
		padding: 15px 5px;
	}

	nav li a {
		font-size: 14px;
	}

}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  footer h1 {
	margin-left: 50px;
}
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



*/